<br><br>
<div id="poster"></div>
    <img id="posimg" src="https://png.pngtree.com/element_our/png_detail/20181109/millions-of-png-images-backgrounds-and-vectors-for-free-download-png_234072.jpg" alt="img">  
    <h1 id="heading">Our Specialist</h1>
    <div id="profile">
        <div id="pro1">
            <img src="https://www.vaidam.com/sites/default/files/dr_srinivasa_reddy-min.jpg" alt="doctor1">
        </div>
        <div id="pro2">
            <h1>Dr. Srinivasa Reddy </h1>
            <h2>Designation</h2>
            <p id="desi">Interventional Cardiologist
                Senior Consultant</p>
            <p id="edu">MBBS, MD, DM</p>
        </div>
            <div id="pro3">
                <h2>Department</h2>
                <p>Cardiologist</p>
                    <div id="opd">
                        <h2>OPD Time</h2>
                        <p>Monday to Saturday <br>
                            10am – 4pm</p>
                    </div>
            </div>
    </div>
    
    <div id="profile2">
    <div id="p2left">
        <h2>Request Appointment</h2>
        <form>
            <input type="text" name="name" placeholder="Name*" required>
            <input type="tel" name="phone" placeholder="Phone Number*" required>
            <input type="email" name="email" placeholder="Email ID*" required>
            <textarea name="details" placeholder="Details" rows="4" required></textarea>
            <button>Submit</button>
          </form>
    </div>
    <div id="p2right">
        <h2>About Dr. Srinivasa Reddy

        </h2>
        <ul>
            <li>Dr. Srinivasa Reddy has 28 years of prominent experience as an Interventional Cardiologist.

            </li>
            <li>He has extensive experience in performing more than 1,150 PTCA cases and 6,200 Coronary Angiograms.


            </li>
            <li>His area of specialization is Coronary Angiograms and Coronary Interventions, Trans-esophageal ECHO and Temporary Pacemaker.


            </li>
            <li>He is a member of the Andhra Pradesh Medical Council, the Indian Medical Association, and the Association of Surgeons of India.


            </li>
            <li>Dr. Srinivasa Reddy earned his MBBS (1991) from the M S Ramaiah Medical College, Bangalore.
            </li>
            <li>He completed his MS (1998) at Kuvempu University, Karnataka.
            </li>
            <li>Dr. Srinivasa Reddy received his DM (2003) from Dr. NTR University of Health Sciences, Andhra Pradesh.
            </li>
        </ul>
    </div>
    </div>

    <h1>Our Other Specialists</h1>
    <div id="otherDoctor">
       <div id="otherDoc1">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/dr._pranathi_gutta.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Pranathi Gutta</h2>
            <p id="surgical">Paediatric Neurologist
                Consultant</p>
            <p id="mbbs">MBBS</p>
            <a id="vp" routerLink="/dr-pranathi">View Profile</a>
        </div>
       </div>

       <div id="otherDoc2">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/anyconv.com_dr._karthik_pingle.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Karthik Pingle</h2>
            <p id="surgical">Orthopaedic and Joint Replacement Surgeon</p>
            <p id="mbbs">MBBS, MS, MCh</p>
            <a id="vp" routerLink="/dr-karthik-pingle">View Profile</a>
        </div>
       </div>


       <div id="otherDoc3">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/dr._nalini_yadala_cleanup.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Nalini Yadala  </h2>
            <p id="surgical">Radiation Oncologist
                Senior Consultant</p>
            <p id="mbbs">MBBS, DNB</p>
            <a id="vp" routerLink="/dr-nalini">View Profile</a>
        </div>
       </div>
    </div>
    <a id="vall" routerLink="/doctor">View all</a>
    <br><br>