#footer{
    width: 100%;
    height: 100vh;
    
}

#div1{
    width: 100%;
    height: 60vh;
    background-color: #09368C;
    display: flex;
}
#sub1{
    width: 20%;
    height: 50vh;
    /* background-color: red; */
    position: relative;
}
#button1{
    margin-top: 10px;
    background-color:red;
    padding: 10px 50px;
    color: #fff;
    font-family: sans-serif;
    border-radius: 50px;
    border: 2px solid #fff;
}
#button1:hover{
    background-color: #E6BB04;
    color: #222;
}
#button2:hover{
    background-color:#3f7ff6;
    color: #fff;
}
#button2{
    margin-top: 5px;
    background-color:#E6BB04;
    padding: 10px 32px;
    color: #222;
    font-family: sans-serif;
    border-radius: 50px;
    border: 2px solid #fff;
}
.sub1color{
    color:rgb(244, 177, 20);
    font-size: 20px;
    font-family: sans-serif;
}
.acharColor{
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
.acharColor:hover{
    color: #3f7ff6;
}
#center{
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h4{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    
}
h6{
    font-size: 16px;
    color: #dadada;
    text-align: justify;
}
#sub2{
    width: 20%;
    height: 50vh;
    /* background-color: rgb(221, 236, 18); */
    position: relative;
    color: #fff;
}
ul li a{
    font-size: 14px;
    font-family: sans-serif;
    color: #fff;
   
}
ul li a:hover{
    color: #E6BB04;
}
ul li{
    margin-left: 20px;
}
#sub3{
    width: 20%;
    height: 50vh;
    /* background-color: rgb(233, 186, 186); */
    position: relative;
    color: #fff;
}
#sub4{
    width: 20%;
    height: 50vh;
    /* background-color: rgb(47, 248, 64); */
    position: relative;
    color: #fff;
}
#sub5{
    width: 20%;
    height: 50vh;
    /* background-color: rgb(203, 90, 244); */
    position: relative;
    color: #fff;
}
i{
    font-size: 25px;
}

#facebook:hover{
    color:rgb(4, 56, 187);
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}
#twitter:hover{
    color:rgb(5, 131, 142);
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}
#linkedin:hover{
    color:rgb(4, 13, 118);
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}
#youtube:hover{
    color:red;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}
#div2{
    width: 100%;
    height: 10vh;
    background-color: #222;
    position: relative;
}
p{
    color: #fff;
    /* text-align: center; */
    position: absolute;
    top: 30px;
    left: 30%;

}
@media (max-width:500px) {
    footer{
        width: 100%;
        margin-top: 50vw;
    }
    #div1{
        width: 100%;
        height: 85vh;
    }
    #sub1{
        width: 100%;
    }
    
    #div2 p{
        /* width: 100%; */
        font-size: 3.5vw;
        margin-top: -2vw;
        margin-left: -25vw;

    }
    #ap{
        display: none;
    }
    #button1{
        padding: 1vw;
        margin-left: 30vw;
    }
    #button1 a{
        font-size: 3.5vw;
    }
    #button2 a{
        font-size: 3.5vw;
    }
    #button2{
        padding: 1vw;
        margin-left: 26.5vw;
    }
    #sub2{
        position: absolute;
        margin-top: 10vw;
        margin-right: 200vw;
    }
    #sub3{
        position: absolute;
        margin-top: 30vw;
        margin-left: 30vw;
    }
    #sub4{
        position: absolute;
        margin-top: 6vw;
        margin-left: 70vw;
    }
    .hosp{
        display: none;
    }
    #sub5{
        display: none;
    }
}