<footer>
    <div id="div1">
        <div id="sub1">
            <div id="center">
                <h4 class="sub1color">Appointment</h4>
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="acharColor" href="#">+91 7518384372</a>
                <h4 class="sub1color">Health Check-Up</h4>
                &nbsp;&nbsp;&nbsp; <a class="acharColor" href="#">+91 7518384372</a>
            </div>
            <button id="button1">24x7 Emergency</button><br>
            <button id="button2">Request Appointment</button>
        </div>
        <div id="sub2">
            <div id="center">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a routerLink="/doctor">Find Doctor</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/signup">Sign Up</a></li>
                    <li><a routerLink="/login">LogIn</a></li>
                    <li><a routerLink="/about">About</a></li>
                </ul>
            </div>
        </div>
        <div id="sub3">
            <div id="center">
                <h4>Hospitals</h4>
                <ul>
                    <li><a href="https://gandhihospital.telangana.gov.in/index.htm" target="_blank">Gandhi Hospital (Secunderabad)</a></li>
                    <li><a href="https://gdchyd.com/" target="_blank">Government Dental Hospital (Hyderabad)</a></li>
                    <li><a href="https://osmaniahospital.com/" target="_blank">Osmania General Hospital (Hyderabad)</a></li>
                    <li><a href="https://www.hexahealth.com/hyderabad/hospital/mnj-cancer-hospital-hyderabad" target="_blank"> MNJ Cancer Hospital (Hyderabad)</a></li>
                    <li><a href="">Government T.B.Chest Hospital (Hyderabad)</a></li>
                    <li><a href="">Government Ayurvedic Hospital, Charminar</a></li>
                    <!-- <li><a href="">LogIn</a></li> -->
                </ul>
            </div>
        </div>
        <div id="sub4">
            <div id="center">
                <h4>Resources</h4>
                <ul>
                    <li><a href="">Lights were season</a></li>
                    <li><a href="">Their is let wherein</a></li>
                    <li><a href="">which given over</a></li>
                    <li><a href="">Without given She</a></li>
                    <li><a href="">Isn two signs think</a></li>
                    <!-- <li><a href="">LogIn</a></li> -->
                </ul>
            </div>
        </div>
        <div id="sub5">
            <div id="center">
                <h4>Newsletter</h4>
                <h6>Seed good winged wherein which night multiply midst does not fruitful</h6>
            </div>
        </div>
    </div>
    <div id="div2">
        <p>Copyright ©2024 All rights reserved | This website is made 🩺 by Inovateinfinity</p>
    </div>
</footer>