<footer>
    <div id="div1">
        <div id="sub1">
            <div id="center">
                <h4 id="ap" class="sub1color">Appointment</h4>
                &nbsp;&nbsp;&nbsp;&nbsp;<a id="ap" class="acharColor" href="#">+91 7518384372</a>
                <h4 id="ap" class="sub1color">Health Check-Up</h4>
                &nbsp;&nbsp;&nbsp; <a id="ap" class="acharColor" href="#">+91 7518384372</a>
            </div>
            <button id="button1"> <a routerLink="/helpline">24x7 Emergency</a> </button><br>
            <button id="button2"><a routerLink="/doctor">Request Appointment</a></button>
        </div>
        <div id="sub2">
            <div id="center">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a routerLink="/doctor">Find Doctor</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/signup">Sign Up</a></li>
                    <li><a routerLink="/login">LogIn</a></li>
                    <li><a routerLink="/about">About</a></li>
                </ul>
            </div>
        </div> 
         <div id="sub3">
            <div id="center">
                <h4>Hospitals</h4>
                <ul>
                    <li><a href="https://gandhihospital.telangana.gov.in/index.htm" target="_blank">Gandhi Hospital (Secunderabad)</a></li>
                    <li><a href="https://gdchyd.com/" target="_blank">Government Dental Hospital (Hyderabad)</a></li>
                    <li><a href="https://osmaniahospital.com/" target="_blank">Osmania General Hospital (Hyderabad)</a></li>
                    <li><a href="https://www.hexahealth.com/hyderabad/hospital/mnj-cancer-hospital-hyderabad" target="_blank"> MNJ Cancer Hospital (Hyderabad)</a></li>
                    <li class="hosp"><a >Government T.B.Chest Hospital (Hyderabad)</a></li>
                    <li><a class="hosp">Government Ayurvedic Hospital, Charminar</a></li>
                   
                </ul>
            </div>
        </div>
         <div id="sub4">
            <div id="center">
                <h4>Patient Care</h4>
                <ul>
                    <li><a routerLink="/doctor">Find a Doctor</a></li>
                    <li><a routerLink="/helpline">24x7 Emergency</a></li>
                    <li><a routerLink="/doctor">Appointment Scheduling</a></li>
                    <li><a class="hosp" >Telemedicine Services</a></li>
                    <li><a class="hosp" >Health and Wellness Programs</a></li>
                    <li><a class="hosp">Videos</a></li>
                    
                </ul>
            </div>
        </div> 
         <div id="sub5">
            <div id="center">
                <h4>Connect with Us</h4>
                <ul>
                    <li><a href=""><i id="facebook" class="ri-facebook-fill"></i></a></li>
                    <li><a href=""><i id="twitter" class="ri-twitter-fill"></i></a></li>
                    <li><a href=""><i id="linkedin" class="ri-linkedin-fill"></i></a></li>
                    <li><a href=""><i id="youtube" class="ri-youtube-fill"></i></a></li>
                 
                    <li></li>
                    
                </ul>
            </div>
        </div> 
    </div>
    <div id="div2">
        <p>Copyright ©2024 All rights reserved 🩺 by Inovateinfinity</p>
    </div>
</footer>