<br><br>
<img id="pic" src="https://cdn4.iconfinder.com/data/icons/medical-flat-sticker-icons-part-1/202/Search_Doctor-512.png" alt="">
<div id="poster">
</div> 
<div id="heading"><h1>Find a Doctor</h1></div>
<div id="doctorbody">
    <div id="left">
        <div id="doctor1">
             <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/anyconv.com_dr._karthik_pingle.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Karthik Pingle</h2>
                    <p> Orthopaedic and Joint Replacement Surgeon, Hyderabad, India</p>
                    <button><a routerLink="/dr-karthik-pingle">View Profile</a> </button>
                </div>
            </div>
             <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div> 
        </div>


         <div id="doctor2">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr_victor.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Victor Vinod Babu</h2>
                    <p> Surgical Gastroenterologist, Hyderabad, India</p>
                    <button> <a routerLink="/dr-victor-vinod-babu">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div>

         <div id="doctor3">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._nalini_yadala_cleanup.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Nalini Yadala</h2>
                    <p>Radiation Oncologist, Hyderabad, India</p>
                    <button> <a routerLink="/dr-nalini">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div>

         <div id="doctor4">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._col._m_sitaram-min.png" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Col. M Sitaram</h2>
                    <p> Cardiac Surgeon, Hyderabad, India</p>
                    <button><a routerLink="/dr-col">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div> 

         <div id="doctor5">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._pranathi_gutta.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Pranathi Gutta</h2>
                    <p> Paediatric Neurologist, Hyderabad, India</p>
                    <button><a routerLink="/dr-pranathi">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div> 


         <div id="doctor6">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/anyconv.com_dr._rahul_lath.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Rahul Lath</h2>
                    <p> Neurosurgeon, Hyderabad, India</p>
                    <button><a routerLink="/dr-rahul">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div>

         <div id="doctor7">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._srinivas_yadavalli.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Srinivas Yadavalli</h2>
                    <p>Internal Medicine, Hyderabad, India</p>
                    <button><a routerLink="/dr-srinivas">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div> 

         <div id="doctor8">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._naveen_polavarapu_0.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Naveen Polavarapu</h2>
                    <p> Medical Gastroenterologist, Hyderabad, India</p>
                    <button><a routerLink="/dr-naveen">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div>

         <div id="doctor9">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr_jaswinder_singh_saluja.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Jaswinder Singh Saluja</h2>
                    <p>ENT Surgeon, Hyderabad, India</p>
                    <button><a routerLink="/dr-jaswinder">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div>

        <div id="doctor10">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._p_reddy_-1-min.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. P Vijay Anand Reddy</h2>
                    <p> Ophthalmologist, Hyderabad, India</p>
                    <button><a routerLink="/dr-pvijay">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div>


         <div id="doctor11">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._bhupathi_rajendra_prasad-min.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Bhupathi Rajendra Prasad</h2>
                    <p> Surgical Gastroenterologist, Hyderabad, India</p>
                    <button><a routerLink="/dr-bhupathi">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div> 

         <div id="doctor12">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr._sasidhar-min.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Sasidhar</h2>
                    <p>Nephrologist, Hyderabad, India</p>
                    <button><a routerLink="/dr-sasidhar">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div> 


        <div id="doctor13">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr-revanth-gangasani-reddy-min.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr Revanth Gangasani Reddy</h2>
                    <p>Surgical Oncologist, Hyderabad, India</p>
                    <button><a routerLink="/dr-revanth">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div> 

         <div id="doctor14">
            <div id="docleft">
                <div id="img"><img src="https://www.vaidam.com/sites/default/files/dr_srinivasa_reddy-min.jpg" alt="doctorimg1"></div>
                <div id="contant">
                    <h2>Dr. Srinivasa Reddy</h2>
                    <p>Interventional Cardiologist, Hyderabad, India</p>
                    <button><a routerLink="/dr-srinivasa">View Profile</a></button>
                </div>
            </div>
            <div id="docright">
                <p>Monday to Saturday <br> &nbsp;&nbsp;&nbsp;&nbsp; 10am - 4pm</p>
                
                <button><a routerLink="/appointment">Request Appointment</a> <i class="ri-arrow-right-line"></i></button>
            </div>
        </div> 

        <!-- <div id="doctor1"></div> -->
    </div>
     <div id="right">
        <div id="checkup">
            <h1>Check by Symptoms</h1>
        </div>
            <div id="symptoms">
                    <div id="box">
                            <div id="leftbox">
                                <img src="https://medicahospitals.in/wp-content/uploads/2023/02/Chest-Pain.png" alt="img1">
                                <a href="#">Chest Pain</a>
                            </div>
                            <div id="rightbox">
                                <img src="	https://medicahospitals.in/wp-content/uploads/2023/02/Irregular-heartbeat.png" alt="img2">
                                <a href="#">Irregular Heartbeat</a>
                            </div>
                    </div>
                    <div id="box1">
                            <div id="leftbox">
                                <img src="	https://medicahospitals.in/wp-content/uploads/2023/02/Acidity.png" alt="img1">
                                <a href="#">Acidity</a>
                            </div>
                            <div id="rightbox">
                                <img src="https://medicahospitals.in/wp-content/uploads/2023/02/Kidney-Stone.png" alt="img2">
                                <a href="#">Kidney Stone</a>
                            </div>
                    </div>
                    <div id="box2">
                            <div id="leftbox">
                                <img src="https://medicahospitals.in/wp-content/uploads/2023/02/Knee-Pain-2.png" alt="img1">
                                <a href="#">Knee Pain</a>
                            </div>
                            <div id="rightbox">
                                <img src="	https://medicahospitals.in/wp-content/uploads/2023/02/Shoulder-Pain.png" alt="img2">
                                <a href="#">Shoulder Pain</a>
                            </div>
                    </div>
                    <div id="box3">
                            <div id="leftbox">
                                <img src="	https://medicahospitals.in/wp-content/uploads/2023/02/Hip-Pain-1.png" alt="img1">
                                <a href="#">Hip Pain</a>
                            </div>
                            <div id="rightbox">
                                <img src="	https://medicahospitals.in/wp-content/uploads/2023/02/Headache-migraine.png" alt="img2">
                                <a href="">Headache & migraine</a>
                            </div>
                    </div>
            </div>
    </div>
</div>