<br><br>
<div id="poster"></div> 
<img id="posimg" src="https://png.pngtree.com/element_our/png_detail/20181109/millions-of-png-images-backgrounds-and-vectors-for-free-download-png_234072.jpg" alt="img">
    <h1 id="heading">Our Specialist</h1>
    <div id="profile">
        <div id="pro1">
            <img src="https://www.vaidam.com/sites/default/files/dr._col._m_sitaram-min.png" alt="doctor1">
        </div>
        <div id="pro2">
            <h1>Dr. Col. M Sitaram</h1>
            <h2>Designation</h2>
            <p id="desi">Cardiac Surgeon</p>
            <p id="edu">DM, MD, MBBS</p>
        </div>
            <div id="pro3">
                <h2>Department</h2>
                <p>Cardiac</p>
                    <div id="opd">
                        <h2>OPD Time</h2>
                        <p>Monday to Saturday <br>
                            10am – 4pm</p>
                    </div>
            </div>
    </div>
    
    <div id="profile2">
    <div id="p2left">
        <h2>Request Appointment</h2>
        <form>
            <input type="text" name="name" placeholder="Name*" required>
            <input type="tel" name="phone" placeholder="Phone Number*" required>
            <input type="email" name="email" placeholder="Email ID*" required>
            <textarea name="details" placeholder="Details" rows="4" required></textarea>
            <button>Submit</button>
          </form>
    </div>
    <div id="p2right">
        <h2>About Dr. Col. M Sitaram</h2>
        <ul>
            <li>Dr. Sitaram is one of the most known cardiac surgeons in southern India, with more than 37 years of expertise.</li>
            <li>His areas of specialization include Transesophageal Echocardiogram, Balloon Mitral Valvotomy, PCI (Percutaneous Coronary Interventions), Implantable Cardioverter Defibrillator, Coronary Artery Bypass Grafting, Tetralogy of Fallot (TOF), Dextro-Transposition of the Great Arteries, Catheter Ablation, and Patent Ductus Arteriosus.
            </li>
            <li>In 1970, he received his MBBS from Andhra Medical College.
            </li>
            <li>He earned his MD in General Medicine and his DM in Cardiology from Armed Forces Medical College in 1979 and 1988, respectively.</li>
            <li>He is also a member of the Indian Medical Association and the Cardiology Society of India.</li>
            <li>He was elected secretary of the Cardiology Society of India (AP Chapter) – 2010 in 2010.</li>
            <li>Dr. Sitaram's papers have been published in indexed journals, and he has also written a chapter in a cardiology book.</li>
            <li>He believes in using modernized technologies to heal patients while minimizing adverse effects.</li>
            
        </ul>
    </div>
    </div>

    <h1>Our Other Specialists</h1>
    <div id="otherDoctor">
       <div id="otherDoc1">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/dr._pranathi_gutta.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Pranathi Gutta</h2>
            <p id="surgical">Paediatric Neurologist</p>
            <p id="mbbs">MBBS</p>
            <a id="vp" routerLink="/dr-pranathi">View Profile</a>
        </div>
       </div>

       <div id="otherDoc2">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/anyconv.com_dr._rahul_lath.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Rahul Lath</h2>
            <p id="surgical">Neurosurgeon</p>
            <p id="mbbs">MBBS, DNB, MCh</p>
            <a id="vp" routerLink="/dr-rahul">View Profile</a>
        </div>
       </div>


       <div id="otherDoc3">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/dr._srinivas_yadavalli.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Srinivas Yadavalli</h2>
            <p id="surgical">Internal Medicine</p>
            <p id="mbbs">MBBS, MD</p>
            <a id="vp" routerLink="/dr-srinivas">View Profile</a>
        </div>
       </div>
    </div>
    <a id="vall" routerLink="/doctor">View all</a>
    <br><br>