<br><br><br>

    <div>
        <h1>Hospitals</h1>
    </div>
  <section class="contact-section">
    <!-- <h2>Contact Information</h2> -->
    <table>
      <thead>
        <tr>
          <th>Hospital Name</th>
          <th>Telephone No</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add your hospital information here -->
        <tr>
          <td>Osmania General Hospital</td>
          <td>040-23538846, 040-24600146</td>
        </tr>
        <tr>
            <td>Gandhi Hospital, Secunderabad</td>
            <td>040-2750556, 9849902979<br>Fax: 040-27507711</td>
          </tr>
          <tr>
            <td>MNJ Cancer Hospital, Red Hills</td>
            <td>040-23397000, 040-23318422, 9701544047<br>Fax:040-23314063</td>
          </tr>
          <tr>
            <td>Niloufer Hospital, Red Hills</td>
            <td>040-23314095, 9866894898</td>
          </tr>
          <tr>
            <td>Director, NIMS</td>
            <td>040-23489999, 040-23390933</td>
          </tr>
          <tr>
            <td>T.B & Chest Hospital, Erragadda</td>
            <td>040-23814939, 23814421, 9441889062, 9440822064<br>Fax: 23814425</td>
          </tr>
          <tr>
            <td>Govt Dental College & Hospital</td>
            <td>040-24619012, 040-24601930, 9849903007</td>
          </tr>
          <tr>
            <td>E.S.I. Erragadda</td>
            <td>040-23700531</td>
          </tr>
          <tr>
            <td>ENT, Koti</td>
            <td>040-24740245, 9849134831</td>
          </tr>
          <tr>
            <td>Inst. of Tropical Diseases Govt. Fever Hospital</td>
            <td>040-27664285, 9849902999</td>
          </tr>
          <tr>
            <td>Homeopathy Hospital</td>
            <td>040-24240593</td>
          </tr>
          <tr>
            <td>Govt Maternity Hospital, Sulthan Bazar</td>
            <td>040-24653647, 9849902987</td>
          </tr>
          <tr>
            <td>Govt Maternity Hospital, Nayapool</td>
            <td>040-24523641, 24523643, 9849902991</td>
          </tr>
          <tr>
            <td>Mental Hospital, Erragadda</td>
            <td>040-23814270</td>
          </tr>
          <tr>
            <td>Nizamia Genl. Hospital</td>
            <td>040-24568000</td>
          </tr>
          <tr>
            <td>Railway Hospital, Lalaguda</td>
            <td>040-27001134</td>
          </tr>
          <tr>
            <td>S.D. Eye Hospital, Mehdipatnam</td>
            <td>040-23317274, 24653647, 8374954545<br>Fax: 040-23399611</td>
          </tr>
          <tr>
            <td>State T.B. Centre, Erragadda</td>
            <td>040-23811797</td>
          </tr>
          <tr>
            <td>SBBB. Maternity Hospital</td>
            <td>040-24525830, 8008553908</td>
          </tr>
          <tr>
            <td>Govt. Ayurvedic Hospital, Erragadda</td>
            <td>040-23800226, 9840553349</td>
          </tr>
          <tr>
            <td>Govt. Ayurvedic Hospital, Charminar</td>
            <td>040-24512927, 9989240150</td>
          </tr>
          <tr>
            <td>Barkas Hospital</td>
            <td>040-24441504, 8008553911</td>
          </tr>
          <tr>
            <td>Golconda Hospital</td>
            <td>040-23513776, 27504916, 8008553903</td>
          </tr>
          <tr>
            <td>Nampally Hospital</td>
            <td>040-23214424, 27790844</td>
          </tr>
          <tr>
            <td>Malakpet Hospital</td>
            <td>040-24527320, 8008553896</td>
          </tr>
          <tr>
            <td>King Koti Hospital</td>
            <td>040-24758827</td>
          </tr>
          <tr>
            <td>Institute of Mental Health</td>
            <td>040-23814270, 9849903003</td>
          </tr>
      </tbody>
    </table>
  </section>


