<br><br>
<div id="poster"></div>
    <img id="posimg" src="https://png.pngtree.com/element_our/png_detail/20181109/millions-of-png-images-backgrounds-and-vectors-for-free-download-png_234072.jpg" alt="img"> 
    <h1 id="heading">Our Specialist</h1>
    <div id="profile">
        <div id="pro1">
            <img src="https://www.vaidam.com/sites/default/files/dr._bhupathi_rajendra_prasad-min.jpg" alt="doctor1">
        </div>
        <div id="pro2">
            <h1>Dr. Bhupathi Rajendra Prasad</h1>
            <h2>Designation</h2>
            <p id="desi">Surgical Gastroenterologist
                HOD</p>
            <p id="edu">MBBS, MS, DNB</p>
        </div>
            <div id="pro3">
                <h2>Department</h2>
                <p>Gastroenterologist</p>
                    <div id="opd">
                        <h2>OPD Time</h2>
                        <p>Monday to Saturday <br>
                            10am – 4pm</p>
                    </div>
            </div>
    </div>
    
    <div id="profile2">
    <div id="p2left">
        <h2>Request Appointment</h2>
        <form>
            <input type="text" name="name" placeholder="Name*" required>
            <input type="tel" name="phone" placeholder="Phone Number*" required>
            <input type="email" name="email" placeholder="Email ID*" required>
            <textarea name="details" placeholder="Details" rows="4" required></textarea>
            <button>Submit</button>
          </form>
    </div>
    <div id="p2right">
        <h2>About Dr. Bhupathi Rajendra Prasad

        </h2>
        <ul>
            <li>He has performed +5000 surgeries.

            </li>
            <li>He's an expert in laparoscopic and minimal access surgery, GI & HPB oncology, colorectal surgery and colorectal oncology.

            </li>
            <li>He is a member of the Andhra Pradesh Medical Council, the Indian Medical Association, the Association of Surgeons of India and the Indian Society of Gastroenterology.

            </li>
            <li>Dr. Bhupathi Rajendra Prasad earned his MBBS (2000) from Kakatiya Medical College, Warangal. 

            </li>
            <li>He completed his MS (2006) at the Osmania Medical College, Hyderabad.

            </li>
            <li>He received his DNB (2013) from the National Board Of Examination, New Delhi.

            </li>
        </ul>
    </div>
    </div>

    <h1>Our Other Specialists</h1>
    <div id="otherDoctor">
       <div id="otherDoc1">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/dr_srinivasa_reddy-min.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Srinivasa Reddy </h2>
            <p id="surgical">Interventional Cardiologist
                Senior Consultant</p>
            <p id="mbbs">MBBS, MD, DM</p>
            <a id="vp" routerLink="/dr-srinivasa">View Profile</a>
        </div>
       </div>

       <div id="otherDoc2">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/dr._sasidhar-min.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr. Sasidhar</h2>
            <p id="surgical">Nephrologist
                Senior Consultant</p>
            <p id="mbbs">MBBS, MD, DNB</p>
            <a id="vp" routerLink="/dr-sasidhar">View Profile</a>
        </div>
       </div>


       <div id="otherDoc3">
        <div id="img">
            <img src="https://www.vaidam.com/sites/default/files/dr-revanth-gangasani-reddy-min.jpg" alt="img1">
        </div>
        <div id="contant">
            <h2>Dr Revanth Gangasani Reddy </h2>
            <p id="surgical">Surgical Oncologist
                Consultant</p>
            <p id="mbbs">MBBS, MS, MCh, Fellowship</p>
            <a id="vp" routerLink="/dr-revanth">View Profile</a>
        </div>
       </div>
    </div>
    <a id="vall" routerLink="/doctor">View all</a>
    <br><br>